* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222831;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid #EEEEEE;
}

.row {
    display: flex;
    flex-grow: 1;
}

.square {
    border: 1px solid #EEEEEE;
    flex-grow: 1;
}

.options {
    margin-top: 20px;
}

#grid-btn {
    background-color: #EEEEEE;
    color: #222831;
    padding: 10px 30px;
    font-size: large;
    font-weight: bold;
    border: 1px solid #222831;
    border-radius: 10px;
}

#grid-btn:hover {
    cursor: pointer;
    background-color: #222831;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    transition-duration: 0.3s;
}

#gridLinesToggle {
    margin-left: 20px;
    margin-right: 5px;
}

.gridLinesToggleLabel {
    color: #EEEEEE;
    font-weight: bold;
}